.filters-group-container {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .filters-group-container {
    width: 27%;
  }
}

.search-bar-container {
  width: 100%;
  height: 38px;
  border: solid 1px #cbd5e1;
  display: flex;
  align-items: center;
  border-radius: 6px;
  margin-bottom: 18px;
}

@media screen and (min-width: 768px) {
  .search-bar-container {
    display: none;
  }
}

.search-bar {
  padding-left: 20px;
  padding-right: 8px;
  height: 38px;
  width: 85%;
  background-color: transparent;
  border: solid 0px;
  outline: none;
  font-family: 'roboto';
  font-size: 15px;
  color: #cbd5e1;
}

.search-icon-btn {
  background-color: #202020;
  width: 15%;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 0px;
  border-radius: 6px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  cursor: pointer;
}

.search-icon-btn:hover {
  background-color: #4f46e5;
}

.search-icon {
  color: #cbd5e1;
  font-size: 20px;
}

.horizontal-line {
  border: solid 1px #7e858e;
  width: 100%;
  margin-bottom: 20px;
}

.employment-container {
  width: 100%;
  border: solid 0px;
}

.type-of-employment-title {
  font-family: 'roboto';
  color: #f1f5f9;
  font-size: 14px;
  margin-bottom: 15px;
}

.employments-card {
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 20px;
}
.employment-item {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.checkbox {
  width: 15px;
  height: 15px;
}

.employment-label {
  font-family: 'roboto';
  color: #f1f5f9;
  font-size: 15px;
  margin-left: 10px;
}

.salary-container {
  width: 100%;
}

.salary-range-title {
  font-family: 'roboto';
  color: #f1f5f9;
  font-size: 14px;
  margin-bottom: 15px;
}

.salary-card {
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 20px;
}

.salary-item {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}
.radio {
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
}
.salary-label {
  font-family: 'roboto';
  color: #f1f5f9;
  font-size: 15px;
  margin-left: 10px;
}
